@()

@main("Designer", designer = true ) {

@views.html.partial.nav(None)

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/iwp/iwp6-designer-demo2018.css")">


<section>
    <div id="side-menu">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">New Object</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#" onclick="addDraggableObject('input')">Input</a>
                <a href="#" onclick="addDraggableObject('output')">Output</a>
                <a href="#" onclick="addDraggableObject('solid')">Solid</a>
            </div>
        </div>

        <h3>Objects</h3>
        <div id="objects">
            <div class="draggable" id="obj_0">Time</div>
            <div class="draggable" id="obj_1">Graph Window</div>
            <div class="draggable" id="obj_2">XY Window</div>
            <div class="draggable" id="obj_3">Description</div>
        </div>
    </div>

    <div id="designer-panel">
        <h3 id="designer-start-prompt">Please select an object</h3>

        <div id="designer-form" style="display:none;">
            Animation: <input type="text" id="animation_name"><br>

            <h3>Equations</h3>
            X Path: <input type="text" id="xpath"><br>
            Y Path: <input type="text" id="ypath"><br>

            <h3>Properties</h3>
            <select id="shape">
                <option value="rectangle">Rectangle</option>
                <option value="circle">Circle</option>
                <option value="polygon">Polygon</option>
                <option value="line">Line</option>
                <option value="vector">Vector</option>
                <option value="bitmap">Bitmap</option>
            </select>
            <br><br>

            Width = <input type="text" id="width"><br>
            Height = <input type="text" id="height"><br>
            Theta = <input type="text" id="theta"><br>

            <h4>Draw Vectors</h4>
            <input type="checkbox" value="xVel" class="draw_vectors"> x Velocity
            <input type="checkbox" value="yVel" class="draw_vectors"> y Velocity
            <input type="checkbox" value="xAccel" class="draw_vectors"> x Acceleration
            <input type="checkbox" value="yAccel" class="draw_vectors"> y Acceleration
            <br>

            <h4>Graphable</h4>
            <input type="checkbox" value="xPos" class="graphable"> x Position
            <input type="checkbox" value="yPos" class="graphable"> y Position
            <input type="checkbox" value="xVel" class="graphable"> x Velocity
            <input type="checkbox" value="yVel" class="graphable"> y Velocity
            <input type="checkbox" value="xAccel" class="graphable"> x Acceleration
            <input type="checkbox" value="yAccel" class="graphable"> y Acceleration
            <br>

            <br>
            <input type="button" id="save" value="Save">

        </div>

    </div>
</section>

@views.html.partial.footer()

<script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/node_modules/dragula/dist/dragula.min.js")"/></script>
<script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-designer-demo2018.js")"/></script>


}
