@(errorMessage: Option[String])

@main(s"Password Sign-In Form") {

@views.html.partial.nav(None)


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">


            <h1>Sign In via Username and Password</h1>

            <p>Please use your username and password provided. If you would like to register for a new account, please email <strong>taylor.brockman@@gmail.com</strong> with the subject: "IWP User Request".</p>

            <br>

            @errorMessage.map { error =>
                <div class="iwp-warning">@error</div>
            }

            <br>

            <form class="iwpSigninForm" method="POST" action="@controllers.routes.PasswordSignInController.signInPasswordPost()">


                <label for="username">Username or Email Address</label><br>
                <input id="username" name="username" type="text">

                <br>
                <br>

                <label for="password">Password</label><br>
                <input id="password" name="password" type="password">

                <br>
                <br>

                <input class="btn btn-primary btn-lg" type="submit" value="Sign In">


            </form>

        </div>
    </div>

</div>

@views.html.partial.footer()

<script type="text/javascript">

    $(function(){
        $("#username").focus();
    });

</script>

}

