@(user: Iwp6DesignerUser)

@main(s"Password Sign-In Success") {

@views.html.partial.nav(Some(user))


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <h1>IWP Successful Login ✅</h1>

            <p>Thank you for your interest in using our physics animation software!  Our open source software's purpose is to enrich the student education experience.</p>

            <h3>Quick Links</h3>

            <br>


            <a class="btn btn-lg btn-success" target="_designer" href="@controllers.routes.IndexController.index()">Home, Browse Packaged Animation Collections</a>
            <br><br>
            <br><br>


            <a class="btn btn-lg btn-primary" target="_designer" href="@controllers.routes.DesignerController.launchDesigner(None)">Launch Designer, New Animation</a>
            <br><br>
            <br><br>

            <a class="btn btn-lg btn-primary" href="@controllers.routes.UserProfileController.userProfile()">User Profile, Browse Existing Animations</a>
            <br><br>


        </div>
    </div>

</div>

@views.html.partial.footer()

<script type="text/javascript">

    $(function(){
        $("#username").focus();
    });

</script>

}

