@()

@main(s"Email Sign-In Form") {

@views.html.partial.nav(None)


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">


            <h1>Sign In via Email</h1>

            <p>After you submit this form, you will receive an email shortly that contains a link to sign in!</p>

            <br>
            <br>

            <form class="iwpSigninForm" method="POST" action="@controllers.routes.EmailSignInController.signInEmailSend()">


                <label for="email">Email Address</label><br>
                <input id="email" name="email" type="text">

                <br>
                <br>

                <input class="btn btn-primary" type="submit" value="Send Sign In Email">


            </form>

        </div>
    </div>

</div>

@views.html.partial.footer()

<script type="text/javascript">

    $(function(){
        $("#email").focus();
    });

</script>

}

