.navbar-inverse { 
	background-color: #336699;
}

a.navbar-brand { 
      color: #fff !important;
}

.navbar-nav li a { 
      color: #eee !important;
}

.thumbnail { 
/*	   height: 300px; */
}

.jumbotron { 
/*	   background-color: rgba(251, 241, 173, 0.7 );  #fbf1ad; */
	   background-color: #eee;
	   margin-top: 2em;
}