/** 2016-Aug-28 IWP5 - Migration of animation CSS into public WWW theme */

.iwp-animate {
	font-size:   20                ;
	font-family: "PT Serif", serif ;
	color:       #333              ;
	position:    relative	       ;
	width:       960px			   ;
}
table {
	height:           auto         ;
	display:          inline-block ;
	border-collapse:  collapse     ;
	background-color: #ddd         ;
	padding:          1%           ;
	margin:           1%	       ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
#canvasDiv {
	float: left;
	width: 50%;
	margin-left: 2%;
	z-index: -1; 
}
#tabs {
	font-size: 9pt;
	visibility: visible;
	clear: right;
	overflow: auto;
	margin-bottom: 0;
	margin-top: 0;
	width: 381px;
}
#tabTables {
	height: 400px;
	width: 381px;
}
#iwindow {
	position: absolute;
	visibility: hidden;
	/*float: right;*/
}
#timeTab {
	position: absolute;
	visibility: hidden;
	font-size: 16px;
}
#inputTable {
	position: absolute;
	visibility: visible;
}
#playBar {
	visibility: visible;
	float: left;
	width: 480px;
	overflow: auto;
	margin-right: 100%;
}
#otherInfo {
	top: 150%;
	height: auto;
	width: 480px;
}
th, td {
	padding: 11px;
	text-align:     center ;	
	vertical-align: center ;
}
.bottomBorder {
	position:      relative        ;
	text-align:    center          ;
	border-bottom: 1px black solid ;
}
.rightBorder {
	position:      relative        ;
	text-align:    center          ;
	border-right: 1px black solid ;
}
.italic {
	font-style: italic;
}
#tabs td {
	padding-left: 50px;
	padding-right: 50px;
}
#time {
	width: 200px;
	height: 48px;
	font-size: 20px;
}
#startStopButton {
	width: 66px;
}
.border {
	border-radius: 10px;
    border: 2px solid #336699;
    padding: 20px;
}
#buttonControls {
	padding-bottom: 0px	;
	padding-top: 0px ;
	padding-left: 20px;
}
#buttonControls div {
	height: 30px;
	width: 50px;
	padding-bottom: 0px;
	padding-top: 5px;
	display: inline-block;
}
#buttonControls i {
	vertical-align: middle;
}