/** 2016-Aug-28 IWP5 - Migration of animation CSS into public WWW theme */

.iwp-animate {
	font-size:   20                ;
	font-family: "PT Serif", serif ;
	color:       #333              ;
	position:    relative	       ;
	width:       960px			   ;
}
table {
	height:           auto         ;
	display:          inline-block ;
	border-collapse:  collapse     ;
	background-color: #ddd         ;
	padding:          1%           ;
	margin:           1%	       ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
#canvasDiv {
	float: left;
	width: 50%;
	z-index: -1; 
}
#tabs {
	font-size: 9pt;
	visibility: visible;
	clear: right;
	overflow: auto;
	margin-bottom: 0;
	margin-top: 0;
}
#tabTables {
	clear: right;
	overflow: auto;
	width: 35%;
	margin-left: 20%;
	margin-top: 0;
}
#iwindow {
	position: absolute;
	visibility: hidden;
	/*float: right;*/
}
#otherInfo {
	position: absolute;
	visibility: hidden;
}
#variableTable {
	position: absolute;
	visibility: visible;
}
#playBar {
	visibility: visible;
	float: left;
	width: auto;
	margin-right: 35%;
	overflow: auto;
}
#otherInfo td {
	text-align: left;
	font-size: 14px;
}
th, td {
	padding:        15px   ;
	text-align:     center ;
	vertical-align: center ;
}
.bottomBorder {
	position:      relative        ;
	text-align:    center          ;
	border-bottom: 1px black solid ;
}
.italic {
	font-style: italic;
}