@(userO: Option[Iwp6DesignerUser], collection: Iwp6Collection, filename: String, animation: Iwp6Animation, preview: Boolean = false, designerUrl: Option[String] = None )

@main( filename + " - IWP6 Animation") {

  @views.html.partial.navMinimal( userO, Some(collection), Some(animation), preview, designerUrl )


<div class="container iwp-animation-container">
  <div class="iwp-animation">

    <!-- Left Hand Side -->
    <div class="iwp-left-container">

      <!-- Time controls -->
      <div class="iwp-control-container iwp-time-control-container">
        <table class="iwp-time-controls">
          <tr>
            <td id="time">
              <span><i class="fa fa-clock-o"></i></span>
              <span id="itime">--</span>
            </td>
            <td id="buttonControls">
              <div onclick="handleBackClick()" id="backButton"><i class="fa fa-step-backward fa-lg"></i></div>
              <div onclick="handleStartClick()" id="startStopButton"><i id="startStopIcon" class="fa fa-play fa-lg"></i></div>
              <div onclick="handleForwardClick()" id="forwardButton"><i class="fa fa-step-forward fa-lg"></i></div>
              <div onclick="handleResetClick()" id="resetButton"><i class="fa fa-repeat fa-lg"></i></div>
            </td>
          </tr>
        </table>
      </div>

      <!-- Canvas -->
      <div id="canvasDiv" class="iwp-animation-canvas-container">
        <svg id="canvas" class="iwp-animation-canvas" viewbox="0 0 1000 1000" preserveAspectRatio="xMinYMin meet" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
          <g id="gridlines"></g>
        </svg>
      </div>

    </div>

    <!-- Right Hand Side -->
    <div class="iwp-right-container">

      <!-- Tab Controls -->
      <div class="iwp-control-container iwp-tab-control-container">
        <table class="iwp-tab-controls" class="tab">
          <tr>
            <td id="it" class="bottomBorder" onclick="animationTabOn()" iwp-tab="animationTab">
              <i id="inputTableButton" class="fa fa-list fa-2x"></i> <br/>Animate</td>
            <td id="gt" class="" onclick="graphTabOn()" iwp-tab="graphTab">
              <i id="graphTableButton" class="fa fa-area-chart fa-2x"> </i> <br/>Graph</td>
            <td id="oib" class="" onclick="timeTabOn()" iwp-tab="timeTab">
              <i id="timeTabButton" class="fa fa-clock-o fa-2x"> </i> <br/>Time</td>
            <td id="ws" class=""  onclick="iwindowTabOn()" iwp-tab="iwindowTab">
              <i id="windowSettings" class="fa fa-clone fa-2x"> </i> <br/>Axes </td>
          </tr>
        </table>
      </div>

      <div class="iwp-tab-container">

        <!-- 2018 Animation Table now contains description and some re-imagined inputs -->
        <div class="iwp-tab" id="animationTab"  style="display:inline;">

          <div id="animationTitle">
            <h3>@filename</h3>
            <br/><div id="description"></div>
          </div>

          <div class="iwp-input-output">
            <table class="iwp-input-output-half-width-table iwp-input-half" id="inputTable">
              <tr><th colspan='2' style='vertical-align:top; height:10px;'>Inputs</th></tr>
            </table>
            <table class="iwp-input-output-half-width-table iwp-output-half" id="outputTable">
              <tr><th colspan='2' style='vertical-align:top; height:10px;'>Outputs</th></tr>
            </table>

          </div>

        </div>


        <!-- 2018 Graph Table now contains an SVG canvas for the graph -->
        <div id="graphTab" class="iwp-tab"> <!-- For easier debugging, starting w/ graph tab on -->
          <svg id="graph" class="iwp-graph" viewBox="-100 -100 200 200" preserveAspectRatio="xMinYMin meet">

            <div id="graphControls" class="iwp-graph-controls"></div> <!-- Written by iwp5-graph.js -->

        </div>


        <!-- Window Settings -->
        <div id="iwindowTab" class="iwp-tab3column">
          <table class="trim">
            <tr><th colspan="3">Animation Axes Scale</th></tr>
            <tr>
              <td style="width:33%"></td>
              <td style="width:33%">X</td>
              <td style="width:33%">Y</td>
            <tr>
              <td>Min:</td>
              <td><input id="iwindow_xmin" type="text"></td>
              <td><input id="iwindow_ymin" type="text"></td>
            </tr>
            <tr>
              <td>Max:</td>
              <td><input id="iwindow_xmax" type="text"></td>
              <td><input id="iwindow_ymax" type="text"></td>
            </tr>
            <tr class="bottomBorder">
              <td>Grid:</td>
              <td><input id="iwindow_xgrid" type="text"></td>
              <td><input id="iwindow_ygrid" type="text"></td>
            </tr>
            <tr>
              <td>Unit:</td>
              <td style="width: 100%;"><div id="iwindow_xunit"></td>
              <td style="width: 100%;"><div id="iwindow_yunit"></td>
            </tr>
          </table>
	     <br>
	     <br>
         <table class="trim">
            <tr><th colspan="3">Graph Axes Scale</th></tr>
            <tr>
              <td style="width:33%"></td>
              <td style="width:33%">T</td>
              <td style="width:33%">Y</td>
            <tr>
              <td>Min:</td>
              <td><input id="graph_xmin" type="text"></td>
              <td><input id="graph_ymin" type="text"></td>
            </tr>
            <tr>
              <td>Max:</td>
              <td><input id="graph_xmax" type="text"></td>
              <td><input id="graph_ymax" type="text"></td>
            </tr>
            <tr class="bottomBorder">
              <td>Grid:</td>
              <td><input id="graph_xgrid" type="text"></td>
              <td><input id="graph_ygrid" type="text"></td>
            </tr>
            <tr>
              <td>Unit:</td>
              <td style="width: 100%;">seconds</td>
              <td style="width: 100%;"></td>
            </tr>
          </table>

        </div>



        <!-- Time Controls -->
        <div id="timeTab" class="iwp-tab">
          <table class="trim">
            <tr>
              <th colspan="2">Animation Time Scale</th>
            </tr>
            <tr>
              <td>
                <span>Time Step</span>
              </td>
              <td>
                <span><input id="itime_change" type="text" value="--"/> seconds</span>
              </td>
            </tr>
            <tr>
              <td>Start Time</td>
              <td><span><input id="itime_start" type="text" value="--"/> seconds</span></td>
            </tr>
            <tr>
              <td>Stop Time</td>
              <td><span><input id="itime_stop" type="text" value="--"/> seconds</span></td>
            </tr>
          </table>
        </div>

      </div> <!-- end iwp-tab-container -->
    </div> <!-- end iwp-right-container -->

  </div> <!-- end iwp-animation -->
</div> <!-- end iwp-animation-container -->



<!-- Begin the IWP6 Animation! -->

<script type="text/javascript">

 $(function() {

    try {
   console.log("animation:158> Loaded Page");

   var animationJson = @Html(animation.toJsonString);

   // console.log("animation:161> Loaded animation Json: " , animationJson );

   parseAnimationToMemory(animationJson);

   renderProblemFromMemory();

   // calculateVarsAtStep(0);
   masterResetSteps();

   // console.log("animation:161> Master Reset Steps Complete!");

    } catch(x) {

       $("#description").html("<span class='iwp-warning'>Error Loading Animation:</span> " + x );
       throw x;
    }

   // 2019Jan25 Enable the screenshot button
   $("#iwp-save-screenshot").click(function(e) {

     // Uncomment in order to save canvas as png to local computer
     saveSvgAsPng(document.getElementById("canvas"), "@{filename}.png");

   });


 });

</script>


}

