@(thisCollection: String, subCollections: Seq[Iwp6Collection], animations: Seq[Iwp6Animation])

@main(s"Browse Collection: $thisCollection") {
  <h1>Animation Browser: @thisCollection</h1>

  @if(subCollections.size> 0 ) {
  <h1>hello</h1>

  <h3>@subCollections.size Collections</h3>

    @subCollections.map{ subCollection =>

    <li>
      <a href="@controllers.routes.AnimationFilesystemController.browseCollection(subCollection.relative(thisCollection))">@{subCollection.name}</a> &middot;
    </li>

    }

  }

  <h3>@animations.size Animations</h3>


  @animations.map{ animation =>

    <li>
      <a href="@controllers.routes.AnimationFilesystemController.getAnimation(thisCollection,animation.filename.get)">@{animation.filename.get} HTML</a> &middot;
      <a href="@controllers.routes.AnimationFilesystemController.getAnimationJson(thisCollection,animation.filename.get)">JSON</a>
    </li>
  }
}

