@(thisCollection: Iwp6Collection, subCollections: Seq[Iwp6Collection], animations: Seq[Iwp6Animation], failureAnimations: Seq[Iwp6AnimationWithFailure])

@main(s"Browse Collection: $thisCollection") {

  @views.html.partial.nav()

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      @thisCollection.parent.map { parent =>
      <h3><a href="@controllers.routes.AnimationFilesystemController.browseCollection(parent.encoded)">Back to Parent Collection @{parent.name}</a></h3>
      }.getOrElse {
      <h3><a href="@controllers.routes.AnimationFilesystemController.browseCollections()">Back to Top Collections</a></h3>
      }
      <h1>Browsing Animations: @thisCollection.name</h1>

    </div>
  </div>


  @if(failureAnimations.size > 0 ) {

  <div class="row">
    <div class="col-lg-12">

      <h3 class="iwp-warning">Warning: Some Animations Failed to load:</h3>

      <ul>
      @failureAnimations.map { t =>

        <li><strong>@t.filename</strong>: @t.throwable.getClass.getName  @t.message</li>

      }
      </ul>

    </div>
  </div>


  }


  @if(subCollections.size > 0 ) {

    @subCollections.map { subCollection =>

    <!-- Sub Directory -->
    <div class="row">
      <div class="col-lg-12">
        <h3><a href="@controllers.routes.AnimationFilesystemController.browseCollection(subCollection.encoded)">@{subCollection.name}</a></h3>
      </div>
    </div>

    }

  }


  @if(animations.size > 0 ) {

    <div>
      <h3>@animations.size Animations</h3><br>
    </div>


    @animations.grouped(3).map { threeAnimations =>
      <div class="row text-center">
        @threeAnimations.map { animation =>
          @views.html.partial.animationPreview(thisCollection, animation)
        }
      </div>
    }

  }
  </div>

</div>

  @views.html.partial.footer()

}

