@(topCollections: Seq[Iwp6Collection])

@main(s"Top Collections") {

@views.html.partial.nav()

<!-- Page Content -->
<div class="container">


  <div class="row">
    <div class="col-lg-12">
      <h3><a href="..">Parent Folder</a></h3>
      <h1 style="margin-bottom: 1em;">Browsing Top Collections</h1>
    </div>
  </div>



    @topCollections.map{ collection =>

      <!-- Sub Directory -->
      <div class="row">
        <div class="col-lg-12">
          <h3><a href="@controllers.routes.AnimationFilesystemController.browseCollection(collection.encoded)">@{collection.name}</a></h3>
        </div>
      </div>

    }

  @views.html.partial.footer()

  }

