@(userO: Option[Iwp6DesignerUser], page: String, subpage: String)

@main("IWP6 Help") {

@views.html.partial.nav(userO)
<body class="iwp-numbered">
    <div class="container article">
        <div class="sidenav toc-sidenav iwp-toc-container">
            <a class="iwp-help-link Main"><h3>IWP6 Help</h3></a>
            <!--  -->
        </div>
        <div class="iwp-help-main iwp-help-page-Tutorials">
            @views.html.partial.help_tutorials(userO, subpage)
        </div>
        <div class="iwp-help-main iwp-help-page-Documentation">
            @views.html.partial.help_documentation(userO, subpage)
        </div>
    </div>
</body>

@views.html.partial.footer()
}

<script type="text/javascript">
    var subpage = "@subpage";
    var page = "@page";
    var url_map = {"Tutorials": "@controllers.routes.IndexController.help("Tutorials","")", "Documentation": "@controllers.routes.IndexController.help("Documentation","")"};
</script>
<script src="@routes.Assets.versioned("javascripts/iwp/iwp6-help.js")" type="text/javascript">x</script>