@(subpage: String)
@main("Animator Guide") {

@views.html.partial.nav()
    <div class="container">
        <div class="sidenav">
            <a href="@controllers.routes.IndexController.help("Intro")"><h3>IWP6 Help</h3></a>
            <a href="@controllers.routes.IndexController.help("Intro")">1.1 Introduction</a>
            <a href="#Quick-Start"><small>1.2 Quick Start</small></a>
            <button class="dropdown-btn">2. Animator <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                <a href="@controllers.routes.IndexController.help("Animator")#Animator_Player"><small>2.1. Player</small></a>
                <a href="@controllers.routes.IndexController.help("Animator")#Animator_Animate"><small>2.2. Animate</small></a>
                <a href="@controllers.routes.IndexController.help("Animator")#Animator_Graph"><small>2.3. Graph</small></a>
                <a href="@controllers.routes.IndexController.help("Animator")#Animator_Time"><small>2.4. Time</small></a>
                <a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes"><small>2.5. Axes</small></a>
            </div>
            <button class="dropdown-btn">3. Designer <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Save-Changes"><small>3.1. Save Changes</small></a>
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Settings"><small>3.2. Settings</small></a>
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Inputs"><small>3.3. Inputs</small></a>
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Outputs"><small>3.4. Outputs</small></a>
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Solids"><small>3.5. Solids</small></a>
                <a href="@controllers.routes.IndexController.help("Designer")#Designer_Json-Differences"><small>3.6. Json Differences</small></a>
            </div>
            <a href="@controllers.routes.IndexController.help("Website")">4. Website Navigation</a>
            <a href="@controllers.routes.IndexController.help("System")">5. System and Browser Support</a>
        </div>

        <div class="iwp-help-main">
@if(subpage=="" || subpage=="Intro") {
            <div class="iwp-help-Intro">
                <a class="anchor" name="Home"></a>
                <h1 align="center">Interactive Web Physics 6 Animator Guide</h1>

                <h3>Table of Contents</h3>
                <ul>
                    <li><a href="@controllers.routes.IndexController.help("Intro")">1.1 Introduction</a></li>
                    <ul>
                        <li><a href="#Quick-Start">1.2 Quick Start</a></li>
                    </ul>
                    <li><a href="@controllers.routes.IndexController.help("Animator")">2. Animator</a></li>
                    <ul>
                        <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Player">2.1. Player</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Animate">2.2. Animate</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Graph">2.3. Graph</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">2.4. Time</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes">2.5. Axes</a></li>
                    </ul>
                    <li><a href="@controllers.routes.IndexController.help("Designer")">3. Designer</a></li>
                    <ul>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Save-Changes">3.1. Save Changes</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Settings">3.2. Settings</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Inputs">3.3. Inputs</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Outputs">3.4. Outputs</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Solids">3.5. Solids</a></li>
                        <li><a href="@controllers.routes.IndexController.help("Designer")#Designer_Json-Differences">3.6. Json Differences</a></li>
                    </ul>
                    <li><a href="@controllers.routes.IndexController.help("Website")">4. Website Navigation</a></li>
                    <li><a href="@controllers.routes.IndexController.help("System")">5. System and Browser Support</a></li>
                </ul>

                <a class="anchor" name="Introduction"></a>
                <h2>1.1 Introduction to IWP6</h2>
                <p>
                Interactive Web Physics 6 (IWP6) features a large database of interactive animations designed for educational demonstrations of fundamental physical concepts. These animations span a wide range of introductory physics subjects, from kinematics to electrostatics. In addition to the large public library of animations available in IWP6, IWP6 also features a animation designed tool which enables teachers and students to develop and explore animations of their own design.
                </p>


                <a class="anchor" name="Quick-Start"></a>
                <h2>1.2 Quick Start</h2>
                <p>
                    To begin viewing animations, navigate to the homepage by clicking on 'Interactive Web Physics' in the top left corner of any IWP6 page. The homepage includes 7 collections in the 'Packaged Animation Collections' section and features the best of IWP6 in the 'Popular Animations section.' Each animation includes a thumbnail, title, and a brief description. To view an animation, simply click on the animation thumbnail, or the green 'Animate' button, or the blue title link. Press <i class="fa fa-play"></i> to begin the animation!
                </p>
                <table>
                    <tr>
                        <td><img class="img-responsive" style="height:400px" src="@routes.Assets.versioned("images/help/IWP6-Homepage-link-crp.png")"></td>
                        <td><img class="img-responsive" style="height:400px" src="@routes.Assets.versioned("images/help/Thumbnail-sample-edit.png")"></td>
                        <td align="right"><img class="img-responsive" style="height:400px" src="@routes.Assets.versioned("images/help/Animator_Player-edit.png")"></td>
                    </tr>
                </table>
            </div>
}
@if(subpage=="Animator") {
            <div class="iwp-help-Animator">
                <a class="anchor" name="Animator"></a>
                <h2>2. Animator</h2>
                <p>
                This tutorial discusses the various aspects of the animation player and how the user can interact with them to change the animation. The IWP6 animation player consists of two central components:
                <ul>
                    <li>Output panel (left)</li>
                    <li>Input panel (right)</li> 
                </ul>
                The 'Output' panel features the primary animation, which the user can modify by adjusting the parameters in the input panels. The 'Output' panel includes just one tab, the <a href="@controllers.routes.IndexController.help("Animator")#Animator_Player">player</a>. The 'Input' panel includes four tabs, which can be toggled by clicking the panel headers at the top of the input panel:
                <ul>
                    <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Animate">2.2. Animate</a></li>
                    <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Graph">2.3. Graph</a></li>
                    <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">2.4. Time</a></li>
                    <li><a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes">2.5. Axes</a></li>
                </ul>
                The '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Animate">Animate</a>', '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">Time</a>', and '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes">Axes</a>' input panels hold parameters which allow the user to change the behavior of the animation. The 'Graph' tab, on the other hand, is independent of the main animation, but displays additional data which complement the main display.
                </p>

                <div>
                    <a class="anchor" name="Animator_Player"></a>
                    <h3>2.1. Player</h3>
                    <p align="center">
                        <img class="img-responsive" src="@routes.Assets.versioned("images/help/image1.png")" alt="Output Display">
                    </p>
                    <p>
                    The output display shows the animated graphs of the primary objects of the animation. The screenshot below shows a snapshot of the animator player for the damped-1.iwp animation. In the top left, the current time of the animation is indicated next to the clock symbol (<i class="fa fa-clock-o"></i>). The user can interact with the animation using the time functions at the top right:
                    <ul>
                        <li><i class="fa fa-step-backward"></i>: Step back one frame</li>
                        <li><i class="fa fa-play"></i>: Play</li>
                        <li><i class="fa fa-step-forward"></i>: Step forward one frame</li>
                        <li><i class="fa fa-repeat"></i>: Reset</li>
                    </ul>
                    The behavior of these buttons is determined by the time parameters in the '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">Time</a>' tab. For instance, <i class="fa fa-play"></i> will continously progress the animation at a pace proportional to the 'Time Step,' stopping once the animation once the current time reaches the 'Stop Time.' <i class="fa fa-step-backward"></i> / <i class="fa fa-step-forward"></i> will change the animation by a single time step, and <i class="fa fa-repeat"></i> will set the time of the animation back to the 'Start Time.'
                    </p>

                </div>

                <div>
                    <a class="anchor" name="Animator_Animate"></a>
                    <h3>2.2. Animate</h3>
                    <p align="center">
                        <img class="img-responsive" src="@routes.Assets.versioned("images/help/image2.png")" alt="Animate Panel">
                    </p>
                    <p>
                    The 'Animate' user panel has four components:
                    <ul>
                        <li>Title</li>
                        <li>Description</li>
                        <li>Inputs</li>
                        <li>Outputs</li>
                    </ul>
                        The 'Inputs' section contains visible constant parameters of the animation, which the user can adjust to influence the main animation. In damped-1.iwp above, the user can adjust the 'initial position' of the oscillation, the 'mass of the object,' the 'spring constant,' and 'damping coefficient.' The 'Outputs' section shows selected information about the current state of the animation. damped-1.iwp, for instance, shows the undamped and damped frequencies of the current state of the animation. <b>Note:</b> Some animations do not have inputs (or outputs), in which case the 'Input' (or 'Output') section will be absent. 
                    </p>
                    <p>
                        User-accessible parameters (from the 'Input' section, '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes">Axes</a>' tab, and '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">Time</a>' tab) fall into two categories:
                        <ul>
                            <li><b>Initializers</b>: Take effect only once the player has restarted</li>
                            <li><b>Non-initializers</b>: Take effect immediately, but reset the player when deselected</li>
                        </ul>
                        Initializers include:
                        <ul>
                            <li>All '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Axes">Axes</a>' settings</li>
                            <li>'Start Time' and 'Stop Time' in '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">Time</a>'</li>
                        </ul>
                        Non-initializers include:
                        <ul>
                            <li>'Time Step' in '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Time">Time</a>'</li>
                            <li>All 'Inputs'</li>
                        </ul>
                        <b>Note:</b> Deselecting any parameter will cause the animation to reset. Suppose, for instance, the user changes the mass of the object in damped-1.iwp while the animation is playing: the animation will continue using the new mass until the user clicks away from the mass input box. 
                    </p>
                    <p>
                        When updating the input parameters of the animation, some changes will only take effect once the player has restarted, whereas others will cause the player to update immediately. Initializers require the player to reset before taking effect, so modifying these parameters will not affect the animation until it has been reset. For damped-1.iwp, 'Initial Position' is an initializer parameter, but the other three parameters are non-initializers. Changing these parameters will immediately affect the animation and cause a noticeable discontinuity in the behavior of the animation. 
                    </p>
                </div>

                <div>
                    <a class="anchor" name="Animator_Graph"></a>
                    <h3>2.3. Graph</h3>
                    <p align="center">
                        <img class="img-responsive" src="@routes.Assets.versioned("images/help/image3.png")" alt="Graph Panel">
                    </p>
                    <p>
                    If appropriate, some animations may have a 'Graph' panel which displays supplementary visual information in addition to the main display. Like the '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Player">Player</a>' tab, the 'Graph' panel updates continuously, showing graphs of certain variables vs time. These variables may include:
                    <ul>
                        <li>xPos</li>
                        <li>yPos</li>
                        <li>xVel</li>
                        <li>yVel</li>
                        <li>xAccel</li>
                        <li>yAccel</li>
                    </ul>
                    The user may toggle these variables by clicking on their labels to the right of the graph. As shown in the animation for planetary-system-retrograde.iwp above, when the variable is highlighted, it appears in the 'Graph' section.
                    </p>
                </div>

                <div>
                    <a class="anchor" name="Animator_Time"></a>
                    <h3>2.4. Time</h3>
                    <p align="center">
                        <img class="img-responsive" src="@routes.Assets.versioned("images/help/image4.png")" alt="Time Panel">
                    </p>
                    <p>
                        The 'Time' tab holds three parameters:
                        <ul>
                            <li>Time Step: time difference between frames</li>
                            <li>Start Time: time of animation upon reset</li>
                            <li>Stop Time: length of animation</li>
                        </ul>
                        These parameters affect how the time functions on the main display (<i class="fa fa-step-backward"></i> <i class="fa fa-play"></i> <i class="fa fa-step-forward"></i> <i class="fa fa-repeat"></i>) behave (see '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Player">Player</a>'). The time step of the animation determines the accuracy of the animation and the speed of the animation. In the animation above for planetary-system-02.iwp, the large time step causes the animation to show visibly polygonic orbits, instead of the expected circular orbits of a planetary system. Increasing the time step will also increase the speed of the animation proportionally; e.g. a 2x larger time step will play the animation 2x faster.
                    </p>
                    <p>
                        <b>Note:</b> Typically, the 'Time Step' is only used to control the speed of an animation. For Euler's method animations, however, the 'Time Step' also determines the accuracy of the animation.
                    </p>
                    <p>
                        The 'Start Time' determines the current time of the animation immediately after a reset, and is usually zero by default. The 'Stop Time', on the other hand, determines when the length of time that the animation will play before stopping. 
                    </p>
                    <p>
                        <b>Note:</b> The 'Stop Time' represents the relative stop time, rather than the absolute stop time. 
                    </p>
                    <p>
                        For instance, an animation with a 'Start Time' of 1 second and a 'Stop Time' of 2 seconds will finish at a Time of 3 seconds, 2 seconds after the 'Start Time'. Once the current time of the animation reaches the 'Stop Time', the animation will automatically pause. It is impossible to progress the animation past the 'Stop Time' without increasing the 'Stop Time'. <i class="fa fa-play"></i> will immediately repause the animation, and <i class="fa fa-step-forward"></i> will do nothing.
                    </p>
                </div>


                <div>
                    <a class="anchor" name="Animator_Axes"></a>
                    <h3>2.5. Axes</h3>
                    <p align="center">
                        <img class="img-responsive" src="@routes.Assets.versioned("images/help/image5.png")" alt="Axes Panel">
                    </p>
                    <p>
                    The 'Axes' tab contains two axes scales: the 'Animation Axes Scale' and the 'Grid Axes Scale.' The 'Animation' scale controls the window of the main animation in the '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Player">Player</a>' tab and the 'Grid' scale controls the window of the graph in the '<a href="@controllers.routes.IndexController.help("Animator")#Animator_Graph">Graph</a>' tab. Each scale includes:
                    <ul>
                        <li>X Min</li>
                        <li>X Max</li>
                        <li>X Grid: Horizontal between gridlines</li>
                        <li>Y Min</li>
                        <li>Y Max</li>
                        <li>Y Grid: Vertical between gridlines</li>
                    </ul>
                    X and Y values are separated into two columns, as shown in the animation above for cp-efield-02.iwp. For each of the X- and Y-axes, there are three parameters: Min, Max, and Grid. The Min value determines the lowest value visible on the respective axis in the main display, and similarly for the Max value. The Grid parameter represents the spacing between grid lines along each axis. For instance, an X-Grid spacing of .02 will produce vertical lines .02 units apart. 
                    </p>
                </div>
            </div>
}
@if(subpage=="Designer") {
            <div class="iwp-help-Designer">
                <a class="anchor" name="Designer"></a>
                <h2>3. Designer</h2>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Save-Changes"></a>
                <h3>3.1. Save Changes</h3>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Settings"></a>
                <h3>3.2. Settings</h3>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Inputs"></a>
                <h3>3.3. Inputs</h3>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Outputs"></a>
                <h3>3.4. Outputs</h3>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Solids"></a>
                <h3>3.5. Solids</h3>
                <p>
                    
                </p>

                <a class="anchor" name="Designer_Json-Differences"></a>
                <h3>3.6. Json Differences</h3>
                <p>
                    
                </p>
            </div>
}
@if(subpage=="Website") {
            <div class="iwp-help-Website">
                <a class="anchor" name="Website_Navigation"></a>
                <h2>4. Website Navigation</h2>
                <p align="center">
                    <img class="img-responsive" style="width:80%;" src="@routes.Assets.versioned("images/help/image6.png")" alt="Home Page">
                </p>
                <!-- IWP6 has 7 different collections of animations which are available through the Browse Animations button at the top of the IWP6 homepage. Most prominently featured on the homepage are the 'iwp-packaged' and 'popular' collections; the other collections can be found only in the 'Browsing Top Collections' page accessible through 'Browse Animations.' No collections other than 'iwp-packaged' contain their own subcollections, and a collection can hold anywhere from 3 animations (e.g. iwp-2015) to almost a 1000 animations (e.g. winters-ncssm-2009).
                <p align="center">
                    <img class="img-responsive" src="@routes.Assets.versioned("images/help/image7.png")" alt="Collections">
                </p> -->
                The home page includes 7 collections:
                <ul>
                    <li>Charged Particle Motion</li>
                    <li>Electrostatics</li>
                    <li>Forces</li>
                    <li>Kinematics</li>
                    <li>Momentum, Collisions, KE</li>
                    <li>Optics</li>
                    <li>Oscillations</li>
                </ul>
                The 'Popular Animations' section features the best showcases of IWP6 animations from each collection.
            </div>
}
@if(subpage=="System") {
            <div class="iwp-help-Support">
                <a class="anchor" name="System_Support"></a>
                <h2>5. System and Browser Support</h2>
            </div>
}
        </div>
    </div>
        <script src="@routes.Assets.versioned("javascripts/iwp/iwp6-help.js")" type="text/javascript">


@views.html.partial.footer()

}