@(userO: Option[Iwp6DesignerUser], popularCollectionO: Option[Iwp6Collection], popularAnimations: Seq[Iwp6Animation])


@main("Interactive Web Physics 6") {

@views.html.partial.nav(userO)

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 0.5em;">
	    	 <h1>Interactive Web Physics 6</h1>
		<p style="font-size: 150%;">Physics animations that run in your web browser and tablets using HTML <i class="fa fa-html5"></i></p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <h1 style="margin-bottom: 0.5em;">Packaged Animation Collections</h1>

                <div class="iwp-packaged-collection-homepage-container">

                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Charged Particle Motion")">Charged Particle Motion</a>

                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Electrostatics")">Electrostatics</a>

                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Forces")">Forces</a>

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Gravitation")">Gravitation</a>-->

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Kinematics 1D")">Kinematics 1D</a>-->

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Kinematics 2D")">Kinematics 2D</a>-->
                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Kinematics")">Kinematics</a>

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Magnetism")">Magnetism</a>-->

                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Momentum, Collisions, KE")">Momentum, Collisions, KE</a>

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Optics, Geometric")">Optics, Geometric</a>-->

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Optics, Physical")"> Optics, Physical</a>-->
                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Optics")">Optics</a>


                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Oscillations")">Oscillations</a>

<!--                <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/Waves and Sound")">Waves and Sound</a>-->

                </div>

            </div>


        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 style="margin-bottom: 0.5em;">NCS-AAPT Workshop November 16, 2019</h3>

                <div class="iwp-packaged-collection-homepage-container">

                    <a class="btn btn-success" href="@controllers.routes.AnimationFilesystemController.browseCollection("iwp-packaged/NCS-AAPT 2019")">NCS-AAPT 2019 Workshop Animations</a>
                </div>
            </div>
        </div>




        @popularCollectionO.map { popularCollection =>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 0.5em;">
                <h1>Popular Animations</h1>
                <br>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

        	@views.html.partial.popular(popularCollection, popularAnimations)

        </div>
        <!-- /.row -->
        }


        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">

                    <br><br>
		    <p>
		    Interactive Web Physics is made possible in part by these wonderful projects:
		    <a href="https://jquery.com/download/">Jquery 2</a> / 
		    <a href="https://d3js.org/">D3 Data Driven Documents 4.2</a> / 
		    <a href="http://fontawesome.io/">Font Awesome 4.6.3</a> / 
		    <a href="https://startbootstrap.com/template-overviews/heroic-features/">HTML 5 Template is StartBootstrap.com, Heroic Features</a>
		    </p>
		    <p>Kudos to Dr. Jonathan Bennett, Dr. Loren Winters, and all past software project contributors for inspiration and success of Interactive Web Physics.</p>
                    <p>Copyright &copy; Taylor Brockman 1999 - 2019</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


@views.html.partial.footer()


}



