@()

@main("Welcome to Play") {
  <h1>IWP play-version6</h1>



  <h2>General Unit Tests</h2>
  <ol>

    <li>
      <a href="@controllers.routes.AnimationController.browseCollection("winters-ncssm-2009")">Browse winters-ncssm-2009</a>
    </li>

    <li>
      <a href="@controllers.routes.AnimationController.getAnimation("winters-ncssm-2009","coulombslaw03.iwp")">GET winters-ncssm-2009/coulombslaw03.iwp</a>

    </li>

    <li>
      <a href="@controllers.routes.AnimationController.getAnimationJson("winters-ncssm-2009","coulombslaw03.iwp")">GET winters-ncssm-2009/coulombslaw03.iwp.json</a>
    </li>

    <li>
      <a href="@controllers.routes.DProblemController.index">DProblemController index - Basic Calculation Test</a>
    </li>

    <li>
      <a href="@controllers.routes.DProblemController.view("animations/winters-ncssm-2009/cp-efield-02.iwp")">animations/winters-ncssm-2009/cp-efield-02.iwp</a>
    </li>
  </ol>



  <h2>Nashorn Javascript Evaluation Tests</h2>
  <ol>

    <li>
      <a href="@controllers.routes.NashornTestController.nashornTest1_eval()">nashornTest1_eval</a>
    </li>

    <li>
      <a href="@controllers.routes.NashornTestController.nashornTest2_file()">nashornTest2_file</a>
    </li>

    <li>
      <a href="@controllers.routes.NashornTestController.nashornTest3_loadMathJs()">nashornTest3_loadMathJs</a>
    </li>

    <li>
      <a href="@controllers.routes.NashornTestController.nashornTest4_loadIwpAnimation()">nashornTest4_loadIwpAnimation</a>
    </li>

    <li>
      <a href="@controllers.routes.NashornTestController.nashornTest5_calcIwpSteps()">nashornTest5_calcIwpSteps</a>
    </li>


  </ol>


}

