@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <!--<script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/require.js")"/></script>-->

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-3.3.7.min.css")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">


        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/iwp5.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/iwp-common.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/iwp5-graph.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/iwp-designer.css")">

        <script src="@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/save-svg-as-png/lib/saveSvgAsPng.js")" type="text/javascript" ></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("javascripts/node_modules/dragula/dist/dragula.css")">

    </head>
    <body>

        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/node_modules/dragula/dist/dragula.min.js")"/></script>

        @* And here's where we render the `Html` object containing
         * the page content. *@

        @content

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap-3.3.7.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("javascripts/d3.v4.min.js")" type="text/javascript"></script>

        @*
        <script src="@routes.Assets.versioned("javascripts/math.min.js")" type="text/javascript"></script>
        *@

        <script src="@routes.Assets.versioned("javascripts/mathjs-6.2.1/math.js")" type="text/javascript"></script>


        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-read.js")"></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-order.js")"></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-calc.js")"/></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-animator.js")"/></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-ui.js")"/></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-graph.js")"/></script>
        <script charset="utf-8" type="text/javascript" src="@routes.Assets.versioned("javascripts/iwp/iwp6-designer.js")"/></script>
    </body>
</html>
