@(thisCollection: Iwp6Collection, animation: Iwp6Animation)

<div class="col-md-4 col-sm-6 hero-feature">
    <div class="thumbnail">

        @defining( controllers.routes.AnimationFilesystemController.getAnimation(thisCollection.encoded, animation.filename.get) ) { url =>


        <a target="_anim" href="@url">
            <img src="@routes.Assets.versioned("screenshots/"+Html(thisCollection.encoded)+"/"+animation.filename.get + ".png" )" alt="">
        </a>


        <div class="caption">

            <a target="_anim" href="@url" class="btn btn-success btn-wide">Animate</a>

            <h3><a target="_anim" href="@url">@animation.filename.get</a></h3>

            <p>
                @animation.description.map(_.text)
            </p>

        </div>

        }

    </div>
</div>