@(userO: Option[Iwp6DesignerUser], collection: Option[Iwp6Collection] = None, animation: Option[Iwp6Animation] = None, preview : Boolean = false,  designerUrl: Option[String] = None )

<!-- Navigation -->
<nav class="navbar navbar-minimal navbar-fixed-top" style="background-color: #FFFFFF;" role="navigation">
    <div class="container navbar-light">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="@controllers.routes.IndexController.index">Interactive Web Physics 6</a>

            <a class="btn btn-secondary iwp-nav-button iwp-help-button" href="@controllers.routes.IndexController.help("Tutorials","")" style="float:right;">Animator Guide</a>
            <button id="iwp-save-screenshot" class="btn btn-secondary iwp-nav-button iwp-save-screenshot" style="float: right;">Save Screenshot</button>


            @if(preview) {
                <span style="float: right; margin-top: 1rem;" class="btn btn-primary">Designer Preview Mode</span>
            } else {
                @* Mututally exclusive preview -vs- clone *@
                @designerUrl.map { url =>
                    <a href="@{url}" target="_designerClone" id="iwp-clone-designer" class="btn btn-secondary iwp-nav-button iwp-clone-designer" style="float: right;">Clone in Designer</a>
                }
            }

        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->

</nav>

<br>
<br>
<br>