

        <div class="row text-center">
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>damped-1.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri?>screenshots/iwp-packaged/Oscillations/damped-1.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri?>animate.php/iwp-packaged/Oscillations/damped-1.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri?>xtoj.php/iwp-packaged/Oscillations/damped-1.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/damped-1.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  The blue line plots position (vertical) as a function of time (horizontal) for damped SHM.  The red line plots the decay of the ..                        </p>
                </div>
             </div>
           </div>
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>damped-SHM-template.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri?>screenshots/iwp-packaged/Oscillations/damped-SHM-template.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri ?>animate.php/iwp-packaged/Oscillations/damped-SHM-template.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri ?>xtoj.php/iwp-packaged/Oscillations/damped-SHM-template.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/damped-SHM-template.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  This plots position (vertical) as a function of time (horizontal) for an object subject to a Hooke's Law restoring force.

Suppose that the ..                        </p>
                </div>
             </div>
           </div>
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>lissajous-figures.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri ?>screenshots/iwp-packaged/Oscillations/lissajous-figures.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri ?>animate.php/iwp-packaged/Oscillations/lissajous-figures.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri ?>xtoj.php/iwp-packaged/Oscillations/lissajous-figures.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/lissajous-figures.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  An object is subject to independent restoring forces along the x- and y-axes.  It's like being pulled on by springs along both axes ..                        </p>
                </div>
             </div>
           </div>
	   </div>
        <div class="row text-center">
	
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>pendulum01.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri ?>screenshots/iwp-packaged/Oscillations/pendulum01.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri ?>animate.php/iwp-packaged/Oscillations/pendulum01.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri ?>xtoj.php/iwp-packaged/Oscillations/pendulum01.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/pendulum01.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  A pendulum is released from rest and oscillates in a vertical plane. The angle of release, mass of the bob, gravitational field, and ..                        </p>
                </div>
             </div>
           </div>
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>shm-01.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri ?>screenshots/iwp-packaged/Oscillations/shm-01.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri ?>animate.php/iwp-packaged/Oscillations/shm-01.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri ?>xtoj.php/iwp-packaged/Oscillations/shm-01.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/shm-01.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  A ball is attached to a horizontal spring (not shown) which causes the ball to oscillate about the origin. Run the animation until ..                        </p>
                </div>
             </div>
           </div>
            <div class="col-md-4 col-sm-6 hero-feature">
              <div class="thumbnail">
                   <h3>shm-02.iwp</i></h3> <!-- color: #FFD700; -->
            <img src="<?=$prefixUri ?>screenshots/iwp-packaged/Oscillations/shm-02.iwp.png" alt="">
                <div class="caption">

                          <a target="_anim" href="<?=$prefixUri ?>animate.php/iwp-packaged/Oscillations/shm-02.iwp" class="btn btn-default">Animate</a>
                        <p>
					<i class="fa fa-star-o" style="color: #333;"></i>	
					   	     <i class="fa fa-bug" style="color: #333;"></i>	
						     		  <a target="_xtoj" href="<?=$prefixUri ?>xtoj.php/iwp-packaged/Oscillations/shm-02.iwp"><i class="fa fa-file-code-o fa-1x" style="color: #333;"></i></a>
								     		    <a target="_applet" href="https://www.iwphys.org/pps/webInterface.php/packagedProblems//Oscillations/shm-02.iwp"><i class="fa fa-coffee fa-1x" style="color: #333;"></i></a>
										       			</p>
															<p>
															  A ball is attached to a horizontal spring (not shown) which causes the ball to oscillate about the origin. Run the animation. Note ..                        </p>
                </div>
             </div>
           </div>
</div>
