@(path: String, diffs:  Seq[IwpStepDifference], summary: IwpStepDifferenceSummary )


<h2>compareIwpSteps</h2>

<h3>Summary</h3>

<p>totalFrames: @summary.totalFrames</p>

<p>framesWithDifferences: @summary.framesWithDifferences</p>

<p>totalDifferences: @summary.totalDifferences</p>

<p>framesWithLeftMissing: @summary.framesWithLeftMissing</p>

<p>framesWithRightMissing: @summary.framesWithRightMissing</p>

<p>totalLeftMissing: @summary.totalLeftMissing</p>

<p>totalRightMissing: @summary.totalRightMissing</p>

<p>path: @path</p>

<p>diffs: @diffs.size</p>

<h3>Detail</h3>

<table style="border-width: 1px; border-color: #666;">

    <tr>
        <th>Step</th>
        <th>NotEqual</th>
        <th>Equal</th>
        <th>V4 LeftEmpty</th>
        <th>V4 LeftMissing</th>
        <th>V6 RightEmpty</th>
        <th>V6 RightMissing</th>
    </tr>
@diffs.map{ diff =>

    <tr>
        <td>@diff.step</td>
        <td>

            @if(diff.notEqual.isEmpty) {
                <i>None</i>
            } else {
                <table>
                    <tr>
                        <th>var</th>
                        <th>left</th>
                        <th>right</th>
                    </tr>

                    @diff.notEqual.map { case(v,(l,r)) =>
                    <tr>
                        <td>@v</td>
                        <td>@l</td>
                        <td>@r</td>
                    </tr>
                    }
                </table>
            }
        </td>
        <td>@diff.equal</td>
        <td>@diff.leftEmpty</td>
        <td>
            @if(diff.leftMissing.isEmpty) {
                <i>None</i>
            } else {
                @Html(diff.leftMissing.mkString("\n<br>\n"))
            }
        </td>
        <td>@diff.rightEmpty</td>
        <td>
            @if(diff.rightMissing.isEmpty) {
            <i>None</i>
            } else {
                @Html(diff.rightMissing.mkString("\n<br>\n"))
            }
        </td>
    </tr>

}
</table>