@(path: String, orderingDiff: Seq[IwpObjectOrderingDiff] )

<h2>compareIwpOrdering</h2>

<h3>Summary</h3>

<p>path: @path</p>

<p>orderingCount: @orderingDiff.size</p>

<h3>Detail</h3>

<table style="border-width: 1px; border-color: #666;">

    <tr>
        <th>Index</th>
        <th>V4 Name</th>
        <th>V6 Object</th>
        <th>V4 Required</th>
        <th>V6 Required</th>
        <th>V4 Provided</th>
        <th>V6 Provided</th>
    </tr>

    @orderingDiff.zipWithIndex.map { case(diff,i) =>

     <tr>
         <td>@diff.order</td>
         <td @if(!diff.nameEqual){style="background-color:#ffa;"}>@diff.v4.name</td>
         <td @if(!diff.nameEqual){style="background-color:#ffa;"}>@diff.v6.name</td>
         <td @if(!diff.providesEqual){style="background-color:#ffa;"}>@diff.v4.provides.mkString(", ")</td>
         <td @if(!diff.providesEqual){style="background-color:#ffa;"}>@diff.v6.provides.mkString(", ")</td>
         <td @if(!diff.requiresEqual){style="background-color:#ffa;"}>@diff.v4.requires.mkString(", ")</td>
         <td @if(!diff.requiresEqual){style="background-color:#ffa;"}>@diff.v6.requires.mkString(", ")</td>
      </tr>

    }

</table>