.navbar-inverse { 

	/*
	Production Blue
	*/
	background-color: #336699;

	/**
	Development Purple
	*/
	/* background-color: #8A2BE2; */
}


.navbar-minimal .navbar-header {
    width: 100%;
}

.navbar-inverse a.navbar-brand { 
      color: #fff !important;
}

.navbar-inverse .navbar-nav li a { 
      color: #eee !important;
}



.navbar-minimal { 

	/*
	Production Blue
	*/
	color: #336699 !important;
	margin-bottom: 0px;
	/**
	Development Purple
	*/
	/* background-color: #8A2BE2; */
}



.thumbnail { 
/*	   height: 300px; */
}

.jumbotron { 
/*	   background-color: rgba(251, 241, 173, 0.7 );  #fbf1ad; */
	   background-color: #eee;
	   margin-top: 2em;
}


.btn-wide {
    width: 80% !important;
}



.iwp-nav-button {
    margin-top: 1rem;
}

.iwp-save-screenshot {
}


.iwp-packaged-collection-homepage-container a {
    font-size: 120%;
    padding: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}



.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  /*top: 0;*/
  /*left: 0;*/
  /*background-color: #111;*/
  overflow-x: hidden;
  padding-top: 50px;
}

/* style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: gray;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  outline: none;
}


/* on mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: black;
}

/* main content */
.iwp-help-main {
  margin-left: 200px; /* same as the width of the sidenav */
  font-size: 20px; /* increased text to enable scrolling */
  padding: 0px 10px 0px 10px;
}


/* add an active class to the active dropdown button */
.active {
  background-color: lightblue;
  /*color: gray
  ;*/
}


/* dropdown container (hidden by default). optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  /*background-color: #262626;*/
  padding-left: 8px;
}

.boxed {
        border: 5px solid lightblue;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 8px;
}


a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* optional: style the caret down icon */

/* some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
