body {
	font-size:   20                ;
	font-family: "PT Serif", serif ;
	color:       #333              ;
	position:    relative		   ;
	width:       960px			   ;
}
table {
	height:           auto         ;
	display:          inline-block ;
	border-collapse:  collapse     ;
	background-color: #ddd         ;
	padding:          1%           ;
	margin:           1%	       ;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
#iwindow {
	visibility: hidden;
	position: relative;
}
#time {
	position: relative;
}
#variableTable {
	position: relative;
	left: 75%;
}
th, td {
	padding:        15px   ;
	text-align:     center ;
	vertical-align: center ;
}
.bottomBorder {
	position:      relative        ;
	text-align:    center          ;
	border-bottom: 1px black solid ;
}
svg {
	width: 100%;
	height: 90%;
	position: static;
	z-index: -1;
}