@(user: Iwp6DesignerUser, animations: Seq[Iwp6DesignerAnimation])(implicit userO: Option[Iwp6DesignerUser] = None)

@main(s"IWP User Profile") {

@views.html.partial.nav()


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12">

            <h1>IWP User Profile</h1>
            <br>

            <form class="iwpSigninForm">

            <div>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value="@user.username" disabled>
            </div>
            <br>

            <div>
                <label for="displayName">Display Name</label>
                <input id="displayName" type="text" name="displayName" value="@user.displayName" disabled>
            </div>
            <br>

            <div>
                <label for="email">Email Address</label>
                <input id="email" type="text" name="email" value="@user.email" disabled>
            </div>
            <br>

            </form>

            <br><br>
            <a class="btn btn-danger" href="@controllers.routes.UserProfileController.signOut()">Sign Out</a>


        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h1>IWP Designer</h1>

            <a class="btn btn-lg btn-primary" href="@controllers.routes.DesignerController.launchDesigner(None)">Launch Designer, New Empty Animation</a>
            <br><br>

            @if(animations.isEmpty) {

            } else {

                <h3>Your User Animations</h3>

                <table>
                    <tbody>
                @animations.map { animation =>

                    <tr>
                        <td>
                            <a class="btn btn-primary" href="@controllers.routes.DesignerController.launchDesigner(Some(animation.filename))">Edit In Designer</a>
                        </td>
                        <td>@animation.filename</td>
                        <td>@animation.username</td>
                        <td>@animation.createdOn</td>
                        <td>@animation.updatedOn</td>
                    </tr>
                }

            }


        </div>
    </div>

</div>

@views.html.partial.footer()

}

